In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#Load to files
schools_csv_path = "Resources/schools_complete.csv"
students_csv_path = "Resources/students_complete.csv"

In [3]:
#Read the files and store into dataframes
schools_df = pd.read_csv(schools_csv_path)
students_df = pd.read_csv(students_csv_path)

In [4]:
#combine the data into a single dataset 
combined_df = pd.merge(students_df, schools_df, on="school_name")

In [5]:
# Calculate the total number of backers for all US projects (from kickstarter activity)
total_students = students_df['student_name'].count()

In [6]:
average_math_score = students_df["math_score"].mean()

In [7]:
average_read_score = students_df["reading_score"].mean()

In [8]:
total_budget = schools_df["budget"].sum()

In [9]:
total_schools = schools_df["school_name"].count()

In [10]:
pass_read = combined_df["student_name"].loc[combined_df['reading_score'] >= 70].count()
pass_read_pct = pass_read / total_students * 100

In [11]:
pass_math = combined_df["student_name"].loc[combined_df["math_score"] >= 70].count()
pass_math_pct = pass_math / total_students * 100

In [12]:
pass_all = combined_df["student_name"].loc[(combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)].count()
overall_pass = pass_all / total_students * 100

In [13]:
#create a (data frame) summary with Total Schools, Total Students, Total Budget, Average Math Score, Average Reading Score, %Passing Math, %Passing Reading %Overall Passing
summary_schools_df = pd.DataFrame({"Total Schools": [total_schools], 
                                   "Total Students": total_students, 
                                   "Total Budget": total_budget, 
                                   "Average Math Score": average_math_score,
                                   "Average Reading Score": average_read_score,
                                   "% Passing Math": pass_math_pct,"% Passing Reading": pass_read_pct, 
                                   "% Overall Passing": overall_pass})

In [14]:
summary_schools_df["Total Budget"] = summary_schools_df["Total Budget"].astype(float).map("${:,.2f}".format)
summary_schools_df["Average Math Score"] = summary_schools_df["Average Math Score"].map("{:.0f}".format)
summary_schools_df["Average Reading Score"] = summary_schools_df["Average Reading Score"].map("{:.0f}".format)
summary_schools_df["% Passing Math"] = summary_schools_df["% Passing Math"].map("{:.0f}%".format)
summary_schools_df["% Passing Reading"] = summary_schools_df["% Passing Reading"].map("{:.0f}%".format)
summary_schools_df["% Overall Passing"] = summary_schools_df["% Overall Passing"].map("{:.0f}%".format)

In [15]:
summary_schools_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79,82,75%,86%,65%

In [16]:
#add boolean series for passing reading and passing math 
combined_df["pass_math"] = combined_df["student_name"].loc[combined_df["math_score"] >= 70]
combined_df["pass_reading"] = combined_df["student_name"].loc[combined_df["math_score"]>= 70]
combined_df["pass_both"] = combined_df["student_name"].loc[(combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)]
combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,pass_math,pass_reading,pass_both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Paul Bradley,Paul Bradley,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,NaN,NaN,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,Bonnie Ray,Bonnie Ray,Bonnie Ray
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,Donna Howard,Donna Howard,Donna Howard
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,Dawn Bell,Dawn Bell,Dawn Bell
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,Rebecca Tanner,Rebecca Tanner,Rebecca Tanner
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,Desiree Kidd,Desiree Kidd,Desiree Kidd
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,Carolyn Jackson,Carolyn Jackson,Carolyn Jackson

In [17]:
#Create a dataframe with metrics about each school it should groupby school
school_group = combined_df.groupby(["school_name"])
school_group_df = school_group.sum()
school_group_df = school_group_df[["reading_score","math_score"]]

In [18]:
stats_group = combined_df.groupby(["school_name"])
stats_group_df = stats_group.count()

In [19]:
#drop student ID, gender, grade, reading score, math score, school ID, type
stats_group_df = stats_group_df[["pass_math","pass_reading","pass_both"]]

In [20]:
passing_df = pd.merge(stats_group_df, school_group_df, on="school_name")

In [21]:
best_worst_df = pd.merge(passing_df, schools_df, on="school_name")
best_worst_df

,school_name,pass_math,pass_reading,pass_both,reading_score,math_score,School ID,type,size,budget
0,Bailey High School,3318,3318,2719,403225,383393,7,District,4976,3124928
1,Cabrera High School,1749,1749,1697,156027,154329,6,Charter,1858,1081356
2,Figueroa High School,1946,1946,1569,239335,226223,1,District,2949,1884411
3,Ford High School,1871,1871,1487,221164,211184,13,District,2739,1763916
4,Griffin High School,1371,1371,1330,123043,122360,4,Charter,1468,917500
5,Hernandez High School,3094,3094,2481,375131,358238,3,District,4635,3022020
6,Holden High School,395,395,381,35789,35784,8,Charter,427,248087
7,Huang High School,1916,1916,1561,236810,223528,0,District,2917,1910635
8,Johnson High School,3145,3145,2549,385481,366942,12,District,4761,3094650
9,Pena High School,910,910,871,80851,80654,9,Charter,962,585858
10,Rodriguez High School,2654,2654,2119,322898,307294,11,District,3999,2547363
11,Shelton High School,1653,1653,1583,147441,146796,2,Charter,1761,1056600
12,Thomas High School,1525,1525,1487,137093,136389,14,Charter,1635,1043130
13,Wilson High School,2143,2143,2068,191748,190115,5,Charter,2283,1319574
14,Wright High School,1680,1680,1626,151119,150628,10,Charter,1800,1049400

In [22]:
#add column with per student budget
best_worst_df["per_student_budget"] = best_worst_df["budget"] / best_worst_df["size"]

In [23]:
#add column with average math score
best_worst_df["average_math"] = best_worst_df["math_score"] / best_worst_df["size"]

In [24]:
#add column with average reading scores
best_worst_df["average_reading"] = best_worst_df["reading_score"] / best_worst_df["size"]

In [25]:
#column with % passing reading
best_worst_df["pass_reading_pct"] = best_worst_df["pass_reading"] / best_worst_df["size"] *100

In [26]:
#add column with % passing math
best_worst_df["pass_math_pct"] = best_worst_df["pass_math"] / best_worst_df["size"] *100

In [27]:
#add column with % passing both
best_worst_df["pass_both_pct"] = best_worst_df["pass_both"] / best_worst_df["size"] *100

In [28]:
best_worst_df["budget"] = best_worst_df["budget"].astype(float).map("${:,.2f}".format)
best_worst_df["per_student_budget"] = best_worst_df["per_student_budget"].astype(float).map("${:,.2f}".format)
best_worst_df["size"] = best_worst_df["size"].map("{:,}".format)
best_worst_df["average_math"] = best_worst_df["average_math"].map("{:.0f}".format)
best_worst_df["average_reading"] = best_worst_df["average_reading"].map("{:.0f}".format)
best_worst_df["pass_math_pct"] = best_worst_df["pass_math_pct"].map("{:.0f}%".format)
best_worst_df["pass_reading_pct"] = best_worst_df["pass_reading_pct"].map("{:.0f}%".format)
best_worst_df["pass_both_pct"] = best_worst_df["pass_both_pct"].map("{:.0f}%".format)

In [29]:
#rename headers School Name, School Type, Total Students, Total School Budget, Per Student Budget
#Average Math Score, Average Reading Score, % Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.), % Overall Passing (The percentage of students that passed math **and** reading.)
rename_best_worst_df = best_worst_df.rename(columns={"school_name":"School Name",
                                              "size":"Total Students", 
                                              "budget":"Total School Budget", 
                                              "per_student_budget":"Per Student Budget",
                                              "average_math":"Average Math Score", 
                                              "average_reading":"Average Reading Score",
                                              "pass_math_pct":"% Passing Math",
                                              "pass_reading_pct":"% Passing Reading", 
                                              "pass_both_pct":"% Overall Passing",
                                             "type":"School Type"})

In [30]:
#organize the columns to match the order
final_best_worst_df = rename_best_worst_df[["School Name", "School Type", 
                                             "Total Students", "Total School Budget", 
                                             "Per Student Budget", "Average Math Score", 
                                             "Average Reading Score", "% Passing Math",
                                             "% Passing Reading","% Overall Passing"]]

In [31]:
final_best_worst_df.set_index("School Name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77,81,67%,67%,55%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94%,94%,91%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66%,66%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68%,68%,54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93%,93%,91%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,67%,67%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,84,84,93%,93%,89%
Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,66%,66%,54%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77,81,66%,66%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,84,84,95%,95%,91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66%,66%,53%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83,84,94%,94%,90%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93%,93%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,94%,94%,91%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,84,84,93%,93%,90%

In [32]:
#to sort from highest to lowest ascending=False must be passed in
best_df = final_best_worst_df.sort_values("% Overall Passing",ascending=False)
best_df.set_index("School Name")
best_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94%,94%,91%
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93%,93%,91%
9,Pena High School,Charter,962,"$585,858.00",$609.00,84,84,95%,95%,91%
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93%,93%,91%
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,94%,94%,91%

In [33]:
#sort the schools by ascending order and display the top five bottom performing schools by overall passing
worst_df = final_best_worst_df.sort_values("% Overall Passing",ascending=True)
worst_df.set_index("School Name")
worst_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66%,66%,53%
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66%,66%,53%
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68%,68%,54%
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,67%,67%,54%
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,66%,66%,54%

In [34]:
#create a data frame that lists the average reading score for students of each grade level (use bins) grade levels are 9th,10th, 11th, and 12th -- index by school

#create a pandas series for each grade (use a conditional statement)

#combine series into a dataframe

In [35]:
#create a data frame that lists the average math score for students of each grade level (use bins) grade levels are 9th,10th, 11th, and 12th -- index by school

#create a pandas series for each grade (use a conditional statement)

#combine series into a dataframe

In [36]:
#create a dataframe that breaks down school performance based on average spending ranges (per student) -- use four reasonable bins to group schools by spending.

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing

In [37]:
#create a dataframe that breaks down school performance based on school size -- use four reasonable bins to group schools.

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing

In [38]:
#create a dataframe that breaks down school performance based on school type (charter or district)

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing