In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#Load to files
schools_csv_path = "Resources/schools_complete.csv"
students_csv_path = "Resources/students_complete.csv"

In [3]:
#Read the files and store into dataframes
schools_df = pd.read_csv(schools_csv_path)
students_df = pd.read_csv(students_csv_path)

In [4]:
#combine the data into a single dataset 
combined_df = pd.merge(students_df, schools_df, on="school_name")

In [5]:
#combined_df["passing_overall"] = np.where(combined_df['math_score'] > 70 & combined_df['reading_score'] > 70)
combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
# Calculate the total number of backers for all US projects (from kickstarter activity)
total_students = students_df['student_name'].count()

In [7]:
average_math_score = students_df["math_score"].mean()

In [8]:
average_read_score = students_df["reading_score"].mean()

In [9]:
total_budget = schools_df["budget"].sum()

In [10]:
total_schools = schools_df["school_name"].count()

In [11]:
pass_read = combined_df["student_name"].loc[combined_df['reading_score'] >= 70].count()
pass_read_pct = pass_read / total_students * 100

In [12]:
pass_math = combined_df["student_name"].loc[combined_df["math_score"] >= 70].count()
pass_math_pct = pass_math / total_students * 100

In [13]:
pass_all = combined_df["student_name"].loc[(combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)].count()
overall_pass = pass_all / total_students * 100

In [14]:
#create a (data frame) summary with Total Schools, Total Students, Total Budget, Average Math Score, Average Reading Score, %Passing Math, %Passing Reading %Overall Passing
summary_schools_df = pd.DataFrame({"Total Schools": [total_schools], 
                                   "Total Students": total_students, 
                                   "Total Budget": total_budget, 
                                   "Average Math Score": average_math_score,
                                   "Average Reading Score": average_read_score,
                                   "% Passing Math": pass_math_pct,"% Passing Reading": pass_read_pct, 
                                   "% Overall Passing": overall_pass})
summary_schools_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#Create a dataframe with metrics about each school it should groupby school and include the following columns: (school name as index), School Type, Total Students, Total School Budget, Per Student Budget, Average Math Score, Average Reading Score, % Passing Math, % Passing Reading 
#to sort from highest to lowest ascending=False must be passed in
#example new_name_df = name_of_df.sort_values("Column_name",ascending=False)

In [ ]:
#sort the schools by descending order and display the top five performing schools by overall passing

#sorted_df =

In [ ]:
#sort the schools by ascending order and display the top five bottom performing schools by overall passing

In [ ]:
#create a data frame that lists the average reading score for students of each grade level (use bins) grade levels are 9th,10th, 11th, and 12th -- index by school

#create a pandas series for each grade (use a conditional statement)

#combine series into a dataframe

In [ ]:
#create a data frame that lists the average math score for students of each grade level (use bins) grade levels are 9th,10th, 11th, and 12th -- index by school

#create a pandas series for each grade (use a conditional statement)

#combine series into a dataframe

In [ ]:
#create a dataframe that breaks down school performance based on average spending ranges (per student) -- use four reasonable bins to group schools by spending.

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing

In [ ]:
#create a dataframe that breaks down school performance based on school size -- use four reasonable bins to group schools.

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing

In [ ]:
#create a dataframe that breaks down school performance based on school type (charter or district)

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing