In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#Load to files
schools_csv_path = "Resources/schools_complete.csv"
students_csv_path = "Resources/students_complete.csv"

In [3]:
#Read the files and store into dataframes
schools_df = pd.read_csv(schools_csv_path)
students_df = pd.read_csv(students_csv_path)

In [4]:
#combine the data into a single dataset 
combined_df = pd.merge(students_df, schools_df, on="school_name")

In [5]:
# Calculate the total number of backers for all US projects (from kickstarter activity)
total_students = students_df['student_name'].count()

In [6]:
average_math_score = students_df["math_score"].mean()

In [7]:
average_read_score = students_df["reading_score"].mean()

In [8]:
total_budget = schools_df["budget"].sum()

In [9]:
total_schools = schools_df["school_name"].count()

In [10]:
pass_read = combined_df["student_name"].loc[combined_df['reading_score'] >= 70].count()
pass_read_pct = pass_read / total_students * 100

In [11]:
pass_math = combined_df["student_name"].loc[combined_df["math_score"] >= 70].count()
pass_math_pct = pass_math / total_students * 100

In [12]:
pass_all = combined_df["student_name"].loc[(combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)].count()
overall_pass = pass_all / total_students * 100

In [13]:
#create a (data frame) summary with Total Schools, Total Students, Total Budget, Average Math Score, Average Reading Score, %Passing Math, %Passing Reading %Overall Passing
summary_schools_df = pd.DataFrame({"Total Schools": [total_schools], 
                                   "Total Students": total_students, 
                                   "Total Budget": total_budget, 
                                   "Average Math Score": average_math_score,
                                   "Average Reading Score": average_read_score,
                                   "% Passing Math": pass_math_pct,"% Passing Reading": pass_read_pct, 
                                   "% Overall Passing": overall_pass})

In [14]:
summary_schools_df["Total Budget"] = summary_schools_df["Total Budget"].astype(float).map("${:,.2f}".format)
summary_schools_df["Average Math Score"] = summary_schools_df["Average Math Score"].map("{:.0f}".format)
summary_schools_df["Average Reading Score"] = summary_schools_df["Average Reading Score"].map("{:.0f}".format)
summary_schools_df["% Passing Math"] = summary_schools_df["% Passing Math"].map("{:.0f}%".format)
summary_schools_df["% Passing Reading"] = summary_schools_df["% Passing Reading"].map("{:.0f}%".format)
summary_schools_df["% Overall Passing"] = summary_schools_df["% Overall Passing"].map("{:.0f}%".format)

In [15]:
summary_schools_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79,82,75%,86%,65%

In [16]:
#add boolean series for passing reading and passing math 
combined_df["pass_math"] = combined_df["student_name"].loc[combined_df["math_score"] >= 70]
combined_df["pass_reading"] = combined_df["student_name"].loc[combined_df["math_score"]>= 70]
combined_df["pass_both"] = combined_df["student_name"].loc[(combined_df["math_score"] >= 70) & (combined_df["reading_score"] >= 70)]

In [17]:
#Create a dataframe with metrics about each school it should groupby school
school_group = combined_df.groupby(["school_name"])
school_group_df = school_group.sum()
school_group_df = school_group_df[["reading_score","math_score"]]

In [18]:
stats_group = combined_df.groupby(["school_name"])
stats_group_df = stats_group.count()

In [19]:
#drop student ID, gender, grade, reading score, math score, school ID, type
stats_group_df = stats_group_df[["pass_math","pass_reading","pass_both"]]

In [20]:
passing_df = pd.merge(stats_group_df, school_group_df, on="school_name")

In [21]:
best_worst_df = pd.merge(passing_df, schools_df, on="school_name")

In [22]:
#add column with per student budget
best_worst_df["per_student_budget"] = best_worst_df["budget"] / best_worst_df["size"]

In [23]:
#add column with average math score
best_worst_df["average_math"] = best_worst_df["math_score"] / best_worst_df["size"]

In [24]:
#add column with average reading scores
best_worst_df["average_reading"] = best_worst_df["reading_score"] / best_worst_df["size"]

In [25]:
#column with % passing reading
best_worst_df["pass_reading_pct"] = best_worst_df["pass_reading"] / best_worst_df["size"] *100

In [26]:
#add column with % passing math
best_worst_df["pass_math_pct"] = best_worst_df["pass_math"] / best_worst_df["size"] *100

In [27]:
#add column with % passing both
best_worst_df["pass_both_pct"] = best_worst_df["pass_both"] / best_worst_df["size"] *100

In [28]:
#rename headers School Name, School Type, Total Students, Total School Budget, Per Student Budget
#Average Math Score, Average Reading Score, % Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.), % Overall Passing (The percentage of students that passed math **and** reading.)
rename_best_worst_df = best_worst_df.rename(columns={"school_name":"School Name",
                                              "size":"Total Students", 
                                              "budget":"Total School Budget", 
                                              "per_student_budget":"Per Student Budget",
                                              "average_math":"Average Math Score", 
                                              "average_reading":"Average Reading Score",
                                              "pass_math_pct":"% Passing Math",
                                              "pass_reading_pct":"% Passing Reading", 
                                              "pass_both_pct":"% Overall Passing",
                                             "type":"School Type"})

In [29]:
rename_best_worst_df["Total School Budget"] = rename_best_worst_df["Total School Budget"].astype(float).map("${:,.2f}".format)
rename_best_worst_df["Per Student Budget"] = rename_best_worst_df["Per Student Budget"].astype(float).map("${:,.2f}".format)
rename_best_worst_df["Total Students"] = rename_best_worst_df["Total Students"].map("{:,}".format)
rename_best_worst_df["Average Math Score"] = rename_best_worst_df["Average Math Score"].map("{:.0f}".format)
rename_best_worst_df["Average Reading Score"] = rename_best_worst_df["Average Reading Score"].map("{:.0f}".format)
rename_best_worst_df["% Passing Math"] = rename_best_worst_df["% Passing Math"].map("{:.0f}%".format)
rename_best_worst_df["% Passing Reading"] = rename_best_worst_df["% Passing Reading"].map("{:.0f}%".format)
rename_best_worst_df["% Overall Passing"] = rename_best_worst_df["% Overall Passing"].map("{:.0f}%".format)

In [30]:
#organize the columns to match the order
final_best_worst_df = rename_best_worst_df[["School Name", "School Type", 
                                             "Total Students", "Total School Budget", 
                                             "Per Student Budget", "Average Math Score", 
                                             "Average Reading Score", "% Passing Math",
                                             "% Passing Reading","% Overall Passing"]]

In [31]:
final_best_worst_df.set_index("School Name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77,81,67%,67%,55%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94%,94%,91%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66%,66%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68%,68%,54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93%,93%,91%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,67%,67%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,84,84,93%,93%,89%
Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,66%,66%,54%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77,81,66%,66%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,84,84,95%,95%,91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66%,66%,53%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83,84,94%,94%,90%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93%,93%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,94%,94%,91%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,84,84,93%,93%,90%

In [32]:
#to sort from highest to lowest ascending=False must be passed in
best_df = final_best_worst_df.sort_values("% Overall Passing",ascending=False)
best_df.set_index("School Name")
best_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83,84,94%,94%,91%
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83,84,93%,93%,91%
9,Pena High School,Charter,962,"$585,858.00",$609.00,84,84,95%,95%,91%
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83,84,93%,93%,91%
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83,84,94%,94%,91%

In [33]:
#sort the schools by ascending order and display the top five bottom performing schools by overall passing
worst_df = final_best_worst_df.sort_values("% Overall Passing",ascending=True)
worst_df.set_index("School Name")
worst_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,77,81,66%,66%,53%
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,77,81,66%,66%,53%
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,77,81,68%,68%,54%
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77,81,67%,67%,54%
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,77,81,66%,66%,54%

In [34]:
r_ninth_grade_df = combined_df[["school_name","reading_score"]].loc[combined_df["grade"] == "9th"]
r_ninth_grade_df.set_index("school_name")
r_ninth_grade_df = r_ninth_grade_df.rename(columns = {"reading_score":"9th","school_name":"School Name"})

In [35]:
m_ninth_grade_df = combined_df[["school_name","math_score"]].loc[combined_df["grade"] == "9th"]
m_ninth_grade_df.set_index("school_name")
m_ninth_grade_df = m_ninth_grade_df.rename(columns = {"math_score":"9th","school_name":"School Name"})

In [36]:
r_tenth_grade_df = combined_df[["school_name","reading_score"]].loc[combined_df["grade"] == "10th"]
r_tenth_grade_df.set_index("school_name")
r_tenth_grade_df = r_tenth_grade_df.rename(columns = {"reading_score":"10th","school_name":"School Name"})

In [37]:
m_tenth_grade_df = combined_df[["school_name","math_score"]].loc[combined_df["grade"] == "10th"]
m_tenth_grade_df.set_index("school_name")
m_tenth_grade_df = m_tenth_grade_df.rename(columns = {"math_score":"10th","school_name":"School Name"})

In [38]:
r_eleventh_grade_df = combined_df[["school_name","reading_score"]].loc[combined_df["grade"] == "11th"]
r_eleventh_grade_df.set_index("school_name")
r_eleventh_grade_df = r_eleventh_grade_df.rename(columns = {"reading_score":"11th","school_name":"School Name"})

In [39]:
m_eleventh_grade_df = combined_df[["school_name","math_score"]].loc[combined_df["grade"] == "11th"]
m_eleventh_grade_df.set_index("school_name")
m_eleventh_grade_df = m_eleventh_grade_df.rename(columns = {"math_score":"11th","school_name":"School Name"})

In [40]:
r_twelfth_grade_df = combined_df[["school_name","reading_score"]].loc[combined_df["grade"] == "12th"]
r_twelfth_grade_df.set_index("school_name")
r_twelfth_grade_df = r_twelfth_grade_df.rename(columns = {"reading_score":"12th","school_name":"School Name"})

In [41]:
m_twelfth_grade_df = combined_df[["school_name","math_score"]].loc[combined_df["grade"] == "12th"]
m_twelfth_grade_df.set_index("school_name")
m_twelfth_grade_df = m_twelfth_grade_df.rename(columns = {"math_score":"12th","school_name":"School Name"})

In [42]:
r_ninth_group = r_ninth_grade_df.groupby(["School Name"])
r_ninth = r_ninth_group.mean()

In [43]:
m_ninth_group = m_ninth_grade_df.groupby(["School Name"])
m_ninth = m_ninth_group.mean()

In [44]:
r_tenth_group = r_tenth_grade_df.groupby(["School Name"])
r_tenth = r_tenth_group.mean()
reading_by_grade = pd.merge(r_ninth, r_tenth, on="School Name")

In [45]:
m_tenth_group = m_tenth_grade_df.groupby(["School Name"])
m_tenth = m_tenth_group.mean()
math_by_grade = pd.merge(m_ninth, m_tenth, on="School Name")

In [46]:
r_eleventh_group = r_eleventh_grade_df.groupby(["School Name"])
r_eleventh = r_eleventh_group.mean()
reading_by_grade = pd.merge(reading_by_grade, r_eleventh, on="School Name")

In [47]:
m_eleventh_group = m_eleventh_grade_df.groupby(["School Name"])
m_eleventh = m_eleventh_group.mean()
math_by_grade = pd.merge(math_by_grade, m_eleventh, on="School Name")

In [48]:
r_twelfth_group = r_twelfth_grade_df.groupby(["School Name"])
r_twelfth = r_twelfth_group.mean()
reading_by_grade = pd.merge(reading_by_grade, r_twelfth, on="School Name")

In [49]:
m_twelfth_group = m_twelfth_grade_df.groupby(["School Name"])
m_twelfth = m_twelfth_group.mean()
math_by_grade = pd.merge(math_by_grade, m_twelfth, on="School Name")

In [50]:
reading_by_grade

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [51]:
math_by_grade

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [52]:
best_worst_df.head()

,school_name,pass_math,pass_reading,pass_both,reading_score,math_score,School ID,type,size,budget,per_student_budget,average_math,average_reading,pass_reading_pct,pass_math_pct,pass_both_pct
0,Bailey High School,3318,3318,2719,403225,383393,7,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
1,Cabrera High School,1749,1749,1697,156027,154329,6,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
2,Figueroa High School,1946,1946,1569,239335,226223,1,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
3,Ford High School,1871,1871,1487,221164,211184,13,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
4,Griffin High School,1371,1371,1330,123043,122360,4,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455

In [53]:
#create a dataframe that breaks down school performance based on average spending ranges (per student) -- use four reasonable bins to group schools by spending.
print(best_worst_df["per_student_budget"].min())
print(best_worst_df["per_student_budget"].max())
#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing
best_worst_df[["school_name","per_student_budget","type","size","average_math", "average_reading","pass_math_pct","pass_reading_pct","pass_both_pct"]]

578.0
655.0

,school_name,per_student_budget,type,size,average_math,average_reading,pass_math_pct,pass_reading_pct,pass_both_pct
0,Bailey High School,628.0,District,4976,77.048432,81.033963,66.680064,66.680064,54.642283
1,Cabrera High School,582.0,Charter,1858,83.061895,83.975780,94.133477,94.133477,91.334769
2,Figueroa High School,639.0,District,2949,76.711767,81.158020,65.988471,65.988471,53.204476
3,Ford High School,644.0,District,2739,77.102592,80.746258,68.309602,68.309602,54.289887
4,Griffin High School,625.0,Charter,1468,83.351499,83.816757,93.392371,93.392371,90.599455
5,Hernandez High School,652.0,District,4635,77.289752,80.934412,66.752967,66.752967,53.527508
6,Holden High School,581.0,Charter,427,83.803279,83.814988,92.505855,92.505855,89.227166
7,Huang High School,655.0,District,2917,76.629414,81.182722,65.683922,65.683922,53.513884
8,Johnson High School,650.0,District,4761,77.072464,80.966394,66.057551,66.057551,53.539172
9,Pena High School,609.0,Charter,962,83.839917,84.044699,94.594595,94.594595,90.540541
10,Rodriguez High School,637.0,District,3999,76.842711,80.744686,66.366592,66.366592,52.988247
11,Shelton High School,600.0,Charter,1761,83.359455,83.725724,93.867121,93.867121,89.892107
12,Thomas High School,638.0,Charter,1635,83.418349,83.848930,93.272171,93.272171,90.948012
13,Wilson High School,578.0,Charter,2283,83.274201,83.989488,93.867718,93.867718,90.582567
14,Wright High School,583.0,Charter,1800,83.682222,83.955000,93.333333,93.333333,90.333333

In [ ]:
# Create bins 
spending_bins = [0, 585, 630, 645, 680]

# Create labels for these bins
speding_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create bins 
size_bins = [0, 1000, 2000, 5000]

# Create labels for these bins
size_labels = ["Small (<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [ ]:
# Slice the data and place it into bins
spending = pd.cut(best_worst_df["per_student_budget"], spending_bins, labels=spending_labels)

In [ ]:
#this didn't work...
#scores_by_spending = pd.merge(best_worst_df, spending,:)

In [ ]:
# # Place the data series into a new column inside of the DataFrame
# ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)
# ted_df.head()

In [ ]:
final_best_worst_df = final_best_worst_df.rename(columns = {"Per Student Budget":"Spending Rangers (Per Student)"})

In [ ]:
# # Create a GroupBy object based upon "View Group"
# ted_group = ted_df.groupby("View Group")

# # Find how many rows fall into each bin
# print(ted_group["comments"].count())

# # Get the average of each column within the GroupBy object
# ted_group[["comments", "duration", "languages"]].mean()

In [ ]:
#create a dataframe that breaks down school performance based on school size -- use four reasonable bins to group schools.

#a table should include the following: Spending Ranges (Per Student), Average Math Score, Average Raading Score, % Passing Math, %Passing Reading, %Overall Passing